/*************************************************************************************
  CSS STYLING - BLOG POSTS
**************************************************************************************/

/* 
  styling blog posts with monospace font for code blocks
*/

a {
  color: #4a148c;
  text-decoration: none; 
}

.code-block {
  font-family: Menlo, monospace;
  background-color: #f4edf5;
  text-align: left;
  padding: 0.2em;
  border-radius: 2px;
  width: auto;
  font-size: 0.9em;
}

.inline-code {
  font-family: Menlo, monospace;
  background-color: #f4edf5;
  font-size: 0.9em;
}

/* DARK THEME CSS */
@media (prefers-color-scheme: dark) {

  a {
    color: #ba68c8;
  }

  a:hover {
    text-decoration: underline;
  }

  .inline-code {
    background-color: #414040;  
  }

  .code-block {
    background-color: #414040;  
  }
}