/*************************************************************************************
	start of CSS styling
**************************************************************************************/
body {
	background-color: #e0dbdb;
}
main {
	text-align: left;
	padding: 5em 1em 1em 1em;
	background-color: white;
	margin: 0em auto;

 }

 #horzBar {
	border-top: 1px solid #404040;
 }

#nav-header {
  position: fixed;
	z-index: 1;
	width: 100%;
	display: flex;
	justify-content: center;
	margin: auto;
	padding: 0.1em 0em;
	background-color: #4a148c;
	color: #f3e5f5;
}

#date-stamp {
	margin-top: 2em;
}

nav ul {
	font-size: 1.1em;
	font-family: 'Helvetica', 'Arial', 'Sans-Serif';
	list-style: none;
}

a {
	text-decoration: none;
	color: #404040;
}
a:hover {
	background-color: #352e7e;
	color: #fff;
}

p, #project-content ul li {
	font-family: 'Helvetica', 'Arial', 'Sans-Serif';
	text-align: justify;
	font-size: 1.0em;
	line-height: 1.2em;
	margin-bottom: 0.5em;
	color: #333;
}

h1, h2, h3, h4 {
	font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}
h1 { font-size: 3em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.2em; }

h2 {
	color: #404040;
	margin-bottom: 0.2em;
	margin-top: 1.8em;
	text-decoration: underline;
}

h3 {
	color: #404040;
	margin-bottom: 0.2em;
	margin-top: 1.8em;
	text-decoration:	none;
}

h4 {
	color: #404040;
	margin-bottom: 0.2em;
	margin-top: 1.8em;
	text-decoration:	underline;
}

li h4 {
	margin-top: 0.5em;
}

.project-li {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 18em;
	height: 18em;
	border: 0.12em solid #4a148c;
	border-radius: 0.3em;
	padding: 0.5em 0.5em;
	margin: 0.5em 0.1em;
}

.project-li a {
	color: #352e7e;
}

.project-li img {
	width: 15em;
}

#flex-project-items {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}

::selection {
	background-color: #352e7e;
	color: #fff;
}



/* DESKTOP SPECIFIC CSS */
@media (min-width: 801px) {

	main {
    max-width: 960px;;
	}

	nav ul {
		display: inline;
		margin-right: 2.5em;
		word-spacing: 0.25em;
	}

	#horzBar {
		width: 15.5em;
		max-width: 90%;
	}
}
/* MOBILE SPECIFIC CSS */
 @media (max-width: 800px) {

	body, main {
    width: auto;
	}

	nav ul {
		display: flex;
		display: inline;
		word-spacing: 1em;
	}

	#horzBar {
		width: auto;
	}
}
