/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/********************************************************************* 
	start of my CSS styling for website 
**********************************************************************/
body { 
	background-color: #f2f2f2;
	margin: 60px auto;
	max-width: 90%;
}

nav ul { 
	font-size: 1.1em;
	font-family: 'Helvetica', 'Arial', 'Sans-Serif';
	padding: 0px;
	list-style: none;
	display: inline;
	margin-right: 40px;
	word-spacing: 5px;
}

#horzBar {
	border-top: 1px solid #404040;
	width: 300px;
	max-width: 90%;
}

a {
	text-decoration: none;
	color: #404040;
}
a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4 { 
	font-family: 'Helvetica', 'Arial', 'Sans-Serif';
	max-width: 90%;
}
h1 { font-size: 3em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.2em; }

::selection {
	background-color: #352e7e;
	color: #fff;
}

/* start of my CSS styling for now.html 
*************************************************************/
h3 {
	color: #404040;
	margin-bottom: 0.2em;
	margin-top: 1.8em;
	text-decoration:	none;
}

h4 {
	color: #404040;
	margin-bottom: 0.2em;
	margin-top: 1.8em;
	text-decoration:	underline;
}

#date-stamp {
	margin-top: 30px;
}

/* start of my CSS styling for about.html 
*************************************************************/
h2 {
	color: #404040;
	margin-bottom: 0.2em;
	margin-top: 1.8em;
	text-decoration: underline;
	
}

p, .list { 
	font-family: 'Helvetica', 'Arial', 'Sans-Serif';
	font-size: 1.0em;
	line-height: 1.2em;
	margin-bottom: 0.5em;
	color: #333;
	width: 800px;
	max-width: 90%;
}

#tab {
	text-indent: 20px;
}